@import url('http://fonts.cdnfonts.com/css/common-pixel');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.landing {
    min-height: 100vh;
    background: url("../../images/landing2.jpg");
    background-size:cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.card {
    height: 520px;
    width: 650px;
    background-color: #E9ECEF;
    box-shadow: 0px 0px 15px -5px;
    margin-top: 50px;
    margin-left: 50px;
}

.t1 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 80px;
    margin: 0;
    padding: 100px 0px 0px 0px;
    border: 0;
}

.t2 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    font-size: 80px;
    margin: 0;
    padding: 50px 0px 0px 0px;
    border: 0;
}

.btn {
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    width: 100px;
    height: 50px;
    align-self: flex-end;
    background-color: red;
    border: thin;
    color: white;
    transition: 0.4s;
    margin: 80px 0px 0px 0px;
    padding: 0;
    border: 0;
}

.btn:hover {
    background-color: #f95959;
}